      /* Navbar styles
      -------------------------------------------------- */
      nav .roboto {
        font-family: 'Roboto Slab';
        font-size: 16px;
      }

      /* Body styles
      -------------------------------------------------- */
      .roboto {
        font-family: 'Roboto Slab';
      }

      .carousel-inner .row h1{
        font-weight: bolder;
        font-size: 60px;
      }

      .carousel-inner .row h4{
        -webkit-text-stroke: 1px black;
        color: red;
        /*font-weight: bolder;*/
        text-shadow:
          0 1px 0px #000000,
          1px 0 0px #000000,
          1px 2px 1px #000000,
          2px 1px 1px #000000,
          2px 3px 2px #000000,
          3px 2px 2px #000000,
          3px 4px 2px #000000,
          4px 3px 3px #000000,
          4px 5px 3px #000000,
          5px 4px 2px #000000,
          5px 6px 2px #000000,
          6px 5px 2px #000000,
          6px 7px 1px #000000,
          7px 6px 1px #000000,
          7px 8px 0px #000000,
          8px 7px 0px #000000;
      }

      .bg {
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        h3 {
              padding-bottom: 4px;
              border-bottom: 3px red solid;
              display: inline;
          }

      #about{
        height: 400px;
        margin-top: 25px;
        margin-bottom: 15px;
      }

      #partition{
        background-color: Gainsboro ;
        height: 400px;
        margin-bottom: 15px;
      }

      #partition img{
        width: 100%;
      }

      .btnclr{
        background-color: #FFA07A;
      }

      .container1 {
          position: relative;
          text-align: center;
          color: white;
      }

      /* Top right text */
      .top-right {
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translate(-50%, -50%);
      }

      /* Centered text */
      .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }




      /* Sticky footer styles
      -------------------------------------------------- */
      html {
        position: relative;
        /*min-height: 100%;*/
      }
      body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
      }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */
      body {
          margin: 0;
          background-color: azure;
        }

      body > .container {
        padding: 60px 0px 0;
      }

      .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
      }

      /*Custom footer*/
      #footer {
          background-color: red;
          height: 100px;
          padding-top: 25px;
          padding-bottom: 15px;
          color: #fff;
        }

        #footer .col-md-8 img {
          float: left;
          display: table;
        }

        #footer .col-md-8 .box {
          display: block;
          float: left;
          width: calc(100% - 55px);
          padding-left: 15px;
          margin-top: 5px;
        }

        #footer .col-md-8 .link {
          display: table;
          width: 100%;
          padding-bottom: 5px;
        }

        #footer .col-md-8 .link a {
          color: #fff;
          float: left;
          font-size: 14px;
        }

        #footer .col-md-8 .address {
          font-size: 11px;
          display: block;
        }

        #footer .col-md-8 .seperator {
          display: block;
          content: '';
          background-color: #fff;
          width: 2px;
          height: 15px;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
        }

        #footer .col-md-4 .box-right {
          display: table;
          float: right;
          padding-top: 12px;
        }

        #footer .col-md-4 .box-right .img-social {
          display: block;
          width: 25px;
          height: 25px;
          content: '';
          float: left;
          margin-left: 15px;
          background: no-repeat center center;
        }

        @media (max-width: 991px) {
          #footer {
            height: auto;
          }

          #footer .col-md-8 .box {
            float: inherit;
            width: inherit;
            padding-left: 0;
            margin-top: inherit;
          }

          #footer .col-md-4 .box-right {
            float: inherit;
          }
        }

        #copyRight {
          font-size: 11px;
          background-color: darkred;
          color: #fff;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        #copyRight .box {
          display: table;
          float: right;
        }

        #copyRight .copyRightTxt {
          display: block;
          float: left;
          margin-top: 2px;
        }

        #copyRight .seperator {
          display: block;
          content: '';
          background-color: #fff;
          width: 2px;
          height: 15px;
          float: left;
          margin-left: 5px;
          margin-right: 5px;
        }

        @media (max-width: 697px) {
          #footer {
            height: auto;
          }

          #footer .col-md-8 img {
            margin: 0 auto;
            float: inherit;
            padding-bottom: 10px;
          }

          #footer .col-md-8 .box {
            float: inherit;
            width: inherit;
            padding-left: 0;
            margin-top: inherit;
          }

          #footer .col-md-8 .box .link a {
            width: 50%;
            text-align: center;
            padding: 5px;
          }

          #footer .col-md-8 .box .address {
            margin: 0 auto;
            text-align: center;
            border-top: 1px solid #fff;
            padding-top: 15px;
            margin-top: 10px;
          }

          #footer .col-md-8 .seperator {
            display: none;
          }

          #footer .col-md-4 {
            margin: 0 15px;
            margin-top: 15px;
            border-top: 1px solid #fff;
          }

          #footer .col-md-4 .box-right {
            margin: 0 auto;
          }

          #copyRight .seperator {
            display: none;
          }

          #copyRight .copyRightTxt {
            float: inherit;
            text-align: center;
          }

          #copyRight .box {
            float: inherit;
            margin: 0 auto;
          }
        }

        @media (max-width: 450px) {
          #footer .col-md-8 .box .link a {
            width: 100%;
          }
        }


      code {
        font-size: 80%;
      }


/*Service page*/
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*End Service page*/
